@model EventGuestVM
@{
    ViewData["Title"] = "Guests";
}

<h1>@Model.Event.EventTitle Guests</h1>
<h2>The total number of guest on this event is @Model.guests.Count() </h2>


@{
    if (Model.guests.Count() > 0)
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        GuestID
                    </th>
                    <th>
                        Forename
                    </th>
                    <th>
                        Surname
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.guests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuestId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Forename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                            
                        </td>
                        <td>

                            <input type="checkbox" id="checkboxGroup") name="" value= "@Html.DisplayFor(modelItem => item.GuestId)">
                            <label for="RegisterAttendance"> Register Attendance </label><br>
                            
           
                        </td>
                    </tr>
                }
            </tbody> 
        </table>
    

    }
    else
    {
        <p>
            This Event has no Guests
        </p>
    }
}
@section Scripts
    {
    <script type="text/javascript" src="~/js/RegisterAttendance.js?newversion"></script>
}