@model IEnumerable<MenuVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu List</h1>
<p>
    <a asp-action="CreateMenu">Create New Menu</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a> |
                    <a asp-action="MenuFoodItems" asp-route-id="@item.MenuId">View Food Items For this menu</a>
                    
                </td>
                </td>

            </tr>
        }
    </tbody>
</table>

